/*default:  #212529,  #18BC9C
secondTheme : #212529, #bf0000
thirdTheme: #C6C6C6, #FFFF1A
fourthTheme: #C6C6C6, #8459AB
*/


.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.container {
  width: 100%;
}

ol, ul{
  margin-top: 0;
}
a{
  text-decoration: none;
}

.fixed-top{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

::before ::after {
  box-sizing: border-box;
}

.text-uppercase{
  text-transform: uppercase;
}

.section {
  padding: 6rem 0;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
}

.btn{
  display: inline-block;
  text-align: center;
  border-width: 2px;
  border-radius: 5px;
}
.btn-xl {
  padding: 1rem 1.75rem;
  font-size: 1.25rem;
  color: white;
}

.text-center {
  text-align: center;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-right: auto !important;
}
/*theme btn*/

.btn-default{
  background-color: #18BC9C;
}

.btn-secondTheme{
  background-color:  #bf0000;
}

.btn-thirdTheme{
  background-color:   #C6C6C6;
}

.btn-fourthTheme{
  background-color:  #8459AB;
}


.text-default{
  color: #18BC9C;
}

.text-secondTheme{
  color:  #bf0000;
}

.text-thirdTheme{
  color:   #C6C6C6;
}

.text-fourthTheme{
  color:  #8459AB;
}

.text-secondary-default{
  color: white;
}

.text-secondary-secondTheme{
  color:  white;
}

.text-secondary-thirdTheme{
  color:   #FFFF1A;
}

.text-secondary-fourthTheme{
  color:  white;
}


.bg-default{
  background-color: #18BC9C;
}

.bg-secondTheme{
  background-color:  #bf0000;
}

.bg-thirdTheme{
  background-color:   #C6C6C6;
}

.bg-fourthTheme{
  background-color:  #8459AB;
}

/*change theme button*/
.changeThemeBtn{
  position: fixed;
  right: 2rem;
  top: 2rem;
}

.default .changeThemeBtn, .secondTheme .changeThemeBtn{
  color: white;
}

.thirdTheme .changeThemeBtn, .fourthTheme .changeThemeBtn{
  color:  #2A2A2A;
}

.default .changeThemeBtn:hover{
  color: #18BC9C;
}

.secondTheme .changeThemeBtn:hover{
  color: #bf0000;
}

.thirdTheme .changeThemeBtn:hover{
  color:  #FFFF1A;
}
.fourthTheme .changeThemeBtn:hover{
  color:  #8459AB;
}
