.header{
  text-align: center;
  width:100%;
  height: 755px;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
/* header text*/
.intro-text {
  padding-top: 300px;
  padding-bottom: 200px;
}

.intro-lead-in{
  font-size: 40px;
  line-height: 40px;
  margin-bottom: 25px;
  color: white;
}

.intro-heading{
  font-size: 75px;
  font-weight: 700;
  line-height: 75px;
  margin-bottom: 50px;
  color: white;
}
/*header background*/
.header-default {
  background-image: url( "../img/background-default.jpg") !important;
}

.header-secondTheme {
  background-image: url( "../img/background-secondTheme.jpg") !important;

}
.header-thirdTheme {
  background-image: url( "../img/background-thirdTheme-a.jpg") !important;

}

.header-fourthTheme {
  background-image: url( "../img/background-fourthTheme.jpg") !important;

}
